[submodule "libs/byte-engineer"]
	path = libs/byte-engineer
	url = https://bitbucket.org/0xJAVA/byte-engineer.git
[submodule "libs/fernflower"]
	path = libs/fernflower
	url = https://github.com/fesh0r/fernflower
[submodule "libs/RSyntaxTextArea"]
	path = libs/RSyntaxTextArea
	url = git@github.com:LLVM-but-worse/RSyntaxTextArea.git
[submodule "mapleir"]
	path = mapleir
	url = git@github.com:llvm-but-worse/jda-mapleir.git
